section {
  border: 3px solid lightblue;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

nav {
  display: flex;
  gap: 10px;
  color: blue;
}

.azul {
  color: blue;
}

a {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
  color: darkblue;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}